* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.infoBox {
    border: 1px solid #000;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: lightgrey;
}

.infoBox .infoTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.infoBox .infoRules {
    font-size: 18px;
    margin-top: 10px;
}

.infoBox .startBtn {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: violet;
}

.questionBox {
    border: 1px solid #000;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: lightgrey;
}

.answer {
    border: 1px solid violet;
    background-color: violet;
    padding: 20px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.answerStatus {
    padding: 20px;
    margin: 20px auto 0;
}

.answerStatus .correct {
    border: 1px solid rgb(133, 182, 59);
    background-color:rgb(133, 182, 59);
    padding: 20px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.answerStatus .incorrect {
    border: 1px solid #c45958;
    background-color: #c45958;
    padding: 20px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}